body {
  max-width: 1024px;
  width: 100%;
  background-color: whitesmoke;
}

.body-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
}

@media only screen and (max-width: 600px) {
  .body-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

li {
  list-style-type: none;
  margin: 20px 0px;
}

.company-name {
  color: black;
  width: 150px;
  list-style-type: none;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0px;
  font-size: 23px;
}

@media only screen and (max-width: 600px) {
  .company-name {
    padding: 0px;
    margin: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.active {
  border-left: 3px solid green;
  color: #2b9491;
}

@media only screen and (max-width: 600px) {
  .active {
    border-left: none;
  }
}

.company-name:nth-child(2n) {
  font-size: 23px;
}

.header {
  margin-bottom: 100px;
}

.header h1 {
  text-align: center;
}

.content-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 700px;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .content-experience ul {
    padding: 0;
  }
}

.content-experience .company-tag {
  background-color: gainsboro;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 5px 10px;
  color: #575757;
  font-weight: bold;
}

.content-experience .duration {
  color: #575757;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.content-experience .icon {
  margin-right: 20px;
  margin-top: 10px;
  color: #44aba4;
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.content-experience li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.content-experience p {
  margin: 0;
}

.content-experience button {
  border: none;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #44aba4;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */